.input {
    position: relative;

    margin: 0;
    border: 2px solid #646cff;
    border-radius: 1rem;
    max-width: 320px;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    padding-left: 2rem;

    background-color: white;
    background-image: url('../../assets/svg/search-outline.svg');
    background-repeat: no-repeat;
    background-position: 0.5rem 0.5rem;
    background-size: 1.2rem;

    font-size: 1rem;
    line-height: 1.5;
}
.input:hover {
  box-shadow: 0 0px 1px #3d4190, 0 1px 2px #3d4190;
}
.input:focus-visible {
    background-color: #c6c9ff7c;
}